name: Lint
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          version: "0.9.6"
          args: "check ."
      - uses: astral-sh/ruff-action@v3
        with:
          version: "0.9.6"
          args: "format --check ."
